@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
            <div class="default-slider">
                <ul>
                    @foreach (var item in ViewBag.Image)
                    {
                        <li><img src="~/Content/images/product/@item.ImageProduct" alt="" /></li>
                    }
                </ul>
            </div>
@section scripts
{
    <script>
        $('.default-slider').unslider({
            arrows: {
                //  Unslider default behaviour
                prev: '<a class="unslider-arrow prev">Imagen Previa</a>',
                next: '<a class="unslider-arrow next">Siguiente Imagen</a>',
            }
        });
    </script>
} 

