
@{
    ViewBag.Title = "ErrorMessage";
}

<div class="container">
    <div class="row">
        <h2>Mensaje de Error</h2>
        <h1>Ups! Lo sentimos pero ha ocurrido un error en la aplicaion</h1>
        <a class="btn btn-success" href="/Home/Index">Volver a Hercor</a>
    </div>
</div>

